{% extends "base.html" %}
{% load static %}
{% block title %}محصولات{% endblock title %}
{% block content %}
<!-- Page Heading -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h3>فروشگاه</h3>

                <span class="breadcrumb">
                    <a href="{% url 'home' %}">خانه</a>
                     فروشگاه
                </span>

            </div>
        </div>
    </div>
</div>

<!-- Products -->
<div class="section trending">

    <div class="container">

        <!-- Filters -->
        <ul class="trending-filter">

            <li>
                <a class="is_active" href="#!" data-filter="*">
                    مشاهده همه
                </a>
            </li>

            <li>
                <a href="#!" data-filter=".adv">
                    ماجراجویی
                </a>
            </li>

            <li>
                <a href="#!" data-filter=".str">
                    استراتژی
                </a>
            </li>

            <li>
                <a href="#!" data-filter=".rac">
                    مسابقه
                </a>
            </li>

        </ul>


        <!-- Products Grid -->
        <div class="row trending-box">

            {% for item in products %}
                <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items">
                    <div class="item">
                        <!-- Image -->
                        <div class="thumb">
                            <a href="#">
                                {% if item.image %}
                                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="{% static 'assets/images/trending-02.jpg' %}"
                                         alt="{{ item.title }}">
                                {% endif %}
                            </a>
                            <!-- Price -->
                            <span class="price">
                                {% if item.discount_price %}
                                    <em>{{ item.price }}</em>
                                    {{ item.discount_price }}
                                {% else %}
                                    {{ item.price }}
                                {% endif %}
                            </span>
                        </div>
                        <!-- Product Info -->
                        <div class="down-content">
                            <span class="category">
                                {{ item.category }}
                            </span>
                            <h4>
                                {{ item.title }}
                            </h4>
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <p>محصولی برای نمایش وجود ندارد.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
